[Unit]
Description=Lighting Service WebSocket Server
After=network-online.target
StartLimitInterval=200
StartLimitBurst=5

[Service]
WorkingDirectory=/opt/websocket-server
User=webuser
ExecStart=/usr/bin/node /opt/websocket-server/websocket-server.js
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
