{
  "tachometer": {
    "device": "0x58",
    "pins": {
      "1": [0, 1, 2],
      "2": [3, 4, 5],
      "3": [6, 7, 12],
      "4": [13, 14, 15],
      "5": [8,  9, 10]
    }
  },
  "wheel_left": {
    "device": "0x59",
    "pins": {
      "1": [0,  1, 2],
      "2": [3, 4, 5],
      "3": [6, 7, 12],
      "4": [13, 14, 15],
      "5": [8, 9, 10]
    }
  },
  "wheel_right": {
    "device": "0x5A",
    "pins": {
      "1": [0,  1, 2],
      "2": [3, 4, 5],
      "3": [6, 7, 12],
      "4": [13, 14, 15],
      "5": [8, 9, 10]
    }
  }
}